.footer-container {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #010101;
  color: rgb(255, 255, 255);
  width: 100%;
}

.footer-container p {
  margin: 10px;
  font-size: 0.85rem;
}

.logo {
  height: 30px;
}
