@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;400&family=Roboto:wght@300&family=Silkscreen:wght@400;700&family=Special+Elite&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  font-family: "Special Elite", system-ui, system-ui, Helvetica, Arial,
    sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  --COLOR-0: rgba(255, 0, 0);
  --COLOR-1: rgba(255, 0, 0, 0.7);
  --COLOR-2: rgba(255, 170, 66, 0.7);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

input {
  border-color: var(--COLOR-1);
  padding: 10px;
  text-align: center;
  background-color: #000000;
  font-family: "Special Elite", system-ui, system-ui, Helvetica, Arial,
    sans-serif;
}

p,
span {
  line-height: 1.8;
}

input::placeholder,
button {
  font-family: "Special Elite", system-ui, system-ui, Helvetica, Arial,
    sans-serif;
  padding: 10px 10px;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
  border: none;
  background-color: #000000;
}

button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.555);
}

button:hover {
  background-color: var(--COLOR-1);
}

input::placeholder {
  color: var(--COLOR-0);
}
